body {
  background-color: #34322c;
  color: #526066;
  scroll-behavior: smooth;
}

h2,
h3 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  line-height: 1.6em;
}

/*
   * -- Layout Styles --
   */
.l-content {
  margin: 0 auto;
}

.l-box {
  padding: 0.5em 2em;
}

/*
    *
    * -- BOCZNE PRZYCISKI --
    *
*/

.content {
  padding: 20px;
}

section {
  padding: 50px;
  margin: 20px 0;
}

#buttons-container {
  position: fixed;
  top: 20; /* OdlegĹoĹÄ od gĂłry */
  right: 20px; /* OdlegĹoĹÄ od prawej krawÄdzi */
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.buttons-hidden {
  opacity: 0;
  transform: translateX(100px); /* PoczÄtkowe przesuniÄcie w prawo */
}

.buttons-visible {
  opacity: 1;
  transform: translateX(0); /* PrzesuniÄcie do normalnej pozycji */
}

.button {
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 20px;
  background-color: #333;
  display: block;
  text-align: center;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.button:hover {
  background-color: #555;
  color: #bb8100;
}

/*
   * -- BANNER --
   * The top banner with the headings. By using a combination
   * of `display: table;` and `display: table-cell;`, we can
   * vertically center the text.
   */

.banner {
  display: flex;
  align-items: center; /* WyrĂłwnuje treĹÄ w pionie */
  justify-content: center; /* WyrĂłwnuje treĹÄ w poziomie */
  background: transparent url(/assets/img/background.png) no-repeat center center
    fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px; /* MoĹźesz ustawiÄ wysokoĹÄ kontenera w zaleĹźnoĹci od treĹci */
  width: 100%; /* PeĹna szerokoĹÄ ekranu */
  margin-bottom: 3em;
}

.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-shadow: 0 1px 1px black;
}

/*
   * -- PRICING TABLE WRAPPER --
   * This element wraps up all the pricing table elements
   */
.pricing-tables,
.information {
  max-width: 980px;
  margin: 0 auto;
}

.pricing-tables {
  margin-bottom: 3.125em;
  text-align: center;
}

/*
   * -- PRICING TABLE  --
   * Every pricing table has the .pricing-table class
   */
.pricing-table {
  border: 1px solid #ffffff;
  margin: 0 0.5em 2em;
  padding: 0 0 3em;
}

/*
   * -- PRICING TABLE HEADER COLORS --
   * Choose a different color based on the type of pricing table.
   */
.pricing-table-free .pricing-table-header {
  background: #bb8100;
}

.pricing-table-biz .pricing-table-header {
  background: #2c4985;
}

/*
   * -- PRICING TABLE HEADER --
   * By default, a header is black/white, and has some styles for its <h2> name.
   */
.pricing-table-header {
  background: #111;
  color: #fff;
}

.pricing-table-header h2 {
  margin: 0;
  padding-top: 2em;
  font-size: 1em;
  font-weight: normal;
}

/*
   * -- PRICING TABLE PRICE --
   * Styles for the price and the corresponding <span>per month</span>
   */
.pricing-table-price {
  font-size: 6em;
  margin: 0.2em 0 0;
  font-weight: 100;
}

.pricing-table-price span {
  display: block;
  text-transform: uppercase;
  font-size: 0.2em;
  padding-bottom: 2em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

/*
   * -- PRICING TABLE LIST --
   * Each pricing table has a <ul> which is denoted by the .pricing-table-list class
   */
.pricing-table-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*
   * -- PRICING TABLE LIST ELEMENTS --
   * Styles for the individual list elements within each pricing table
   */
.pricing-table-list li {
  padding: 0.8em 0;
  background: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
}

/*
   * -- PRICING TABLE BUTTON --
   * Styles for the "Choose" button at the bottom of a pricing table.
   * This inherits from Pure Button.
   */
.button-choose {
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 2em;
  font-weight: bold;
  position: relative;
  bottom: -1.5em;
}

.information-head {
  color: black;
  font-weight: 500;
}

.footer {
  background: #111;
  color: #888;
  text-align: center;
}

.footer a {
  color: #ddd;
}

/*
   * -- TABLET MEDIA QUERIES --
   * On tablets, we want to slightly adjust the size of the banner
   * text and add some vertical space between the various pricing tables
   */
@media (min-width: 767px) {
  .banner-head {
    font-size: 4em;
  }

  .pricing-table {
    margin-bottom: 0;
  }
}

/*
   * -- PHONE MEDIA QUERIES --
   * On phones, we want to reduce the height and font-size of the banner further
   */
@media (min-width: 480px) {
  .banner {
    height: 400px;
  }

  .banner-head {
    font-size: 3em;
  }
}

.custom-menu-wrapper {
  background-color: #808080;
  margin-bottom: 2.5em;
  white-space: nowrap;
  position: relative;
}

.custom-menu {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
  color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
  background-color: transparent;
}

.custom-menu-top {
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.custom-menu-brand {
  display: block;
  text-align: center;
  position: relative;
}

.custom-menu-toggle {
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  top: 3px;
  right: 0;
  display: none;
}

.custom-menu-toggle .bar {
  background-color: white;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 22px;
  right: 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.custom-menu-screen {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  height: 3em;
  width: 70em;
  position: absolute;
  top: 0;
  z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
  -webkit-transform: translateY(-44px);
  -moz-transform: translateY(-44px);
  -ms-transform: translateY(-44px);
  transform: translateY(-44px);
}

@media (max-width: 62em) {
  .custom-menu {
    display: block;
  }

  .custom-menu-toggle {
    display: block;
    display: none\9;
  }

  .custom-menu-bottom {
    position: absolute;
    width: 100%;
    border-top: 1px solid #eee;
    background-color: #808080;
    z-index: 100;
  }

  .custom-menu-bottom .pure-menu-link {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
  }

  .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
    -webkit-transform: translateX(-140px);
    -moz-transform: translateX(-140px);
    -ms-transform: translateX(-140px);
    transform: translateX(-140px);
    opacity: 0;
    opacity: 1\9;
  }

  .pure-menu-horizontal.custom-menu-tucked {
    z-index: -1;
    top: 45px;
    position: absolute;
    overflow: hidden;
  }
}

/* Stylowanie zaznaczonego tekstu */
::selection {
  background: #bb8100;
  color: black;
}

::-webkit-selection {
  background: #bb8100;
  color: black;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Styl dla zĹotego prostokÄta */
.golden-rectangle {
  background-color: black;
  color: white;
  width: 80%;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  border-radius: 30px;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* Kontener na projekty */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

/* Styl dla poszczegĂłlnych projektĂłw */
.project {
  width: 70%;
  height: 500px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.project:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.project-title {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.project-description {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s;
  max-height: 420px; /* Ustaw maksymalnÄ wysokoĹÄ */
  overflow-y: scroll; /* Dodaj przewijanie wewnÄtrzne */
  box-sizing: border-box; /* Upewnij siÄ, Ĺźe padding jest uwzglÄdniony w szerokoĹci elementu */
  padding: 10px;
}

/* Ukrywanie scrollbara w przeglÄdarkach WebKit */
.project-description::-webkit-scrollbar {
  display: none;
}

.project:hover .project-title,
.project:hover .project-description {
  opacity: 1;
}

/* Dodanie by sĹowa np. e-sport byĹy "razem " */

.no-break {
  white-space: nowrap;
}

/* -- BOCZNE PRZYCISKI -- */
.content {
  /*padding: 20px;*/
}

section {
  padding: 50px;
  margin: 20px 0;
}

#buttons-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  -webkit-transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  -moz-transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  -ms-transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  -o-transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.buttons-hidden {
  opacity: 0;
  transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
}

.buttons-visible {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.button {
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 20px;
  background-color: #333;
  display: block;
  text-align: center;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.button:hover {
  background-color: #555;
  color: #bb8100;
}

/* -- BANNER -- */
.banner {
  background: transparent url(/images/background.png) 0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  height: 200px;
  width: 100%;
  /*margin-bottom: 3em;*/
  display: table;
}

.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-shadow: 0 1px 1px black;
}

/* -- FOOTER -- */
.footer {
  background: #111;
  color: #888;
  text-align: center;
}

.footer a {
  color: #ddd;
}

/* -- BASE STYLES -- */
body {
  background-color: #bb8100;
  color: #526066;
  scroll-behavior: smooth;
}

h2,
h3 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  line-height: 1.6em;
}

/* -- LAYOUT STYLES -- */
.l-content {
  margin: 0 auto;
}

.l-box {
  padding: 0.5em 2em;
}

/* -- MEDIA QUERIES -- */
@media (min-width: 767px) {
  .banner-head {
    font-size: 4em;
  }

  .pricing-table {
    margin-bottom: 0;
  }
}

@media (min-width: 480px) {
  .banner {
    height: 400px;
  }

  .banner-head {
    font-size: 3em;
  }
}
